p {
    font-size: 1.5em;
}
main {
    display: flex;
}

menu {
    margin-right: 20px;
    font-size: 1.5em;
}
h1 {
    font-size: 2.5em;
}
body {
    background-image: url("59187feb32fc61999c470b1483e6c207.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
p {
    color: red;
}
h1 {
    color: red;
}